@tailwind base;
@tailwind components;
@tailwind utilities;

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}


.width-enter-active,
.width-leave-active {
  transition: width 0.5s ease;
  width: 100%;
}
.width-enter-from,
.with-leave-to {
  width: 100%;
}
